// color files

// Named Colors
$color_white = #ffffff
$color_black = #2c2c2c
$color_gray = #5f636c

// Color scheme
$color_background = #1a1a1a
$color_primary = #FFE381
$color_secondary = #8F7E4F
$color_accent = #F7A278

$color_text = #444444


$color_gray_tint1 = tint($color_gray, 20%)
$color_gray_tint2 = tint($color_gray, 40%)
$color_gray_tint3 = tint($color_gray, 60%)
$color_gray_tint4 = tint($color_gray, 80%)
$color_gray_tint5 = tint($color_gray, 95%)
