@import '../../styles/colors'
@import '../../styles/variables'

.register
  display flex
  flex-direction column
  height 100%
  width 100%
  overflow hidden

.register-list
  display flex
  flex 1
  flex-wrap wrap
  justify-content space-around
  margin 0 auto
  max-width $tablet_width
  min-width 0
  padding 16px

.register-submit
  border-top 1px solid $color_gray
  height 20%
  min-width 200px
  padding 8px
  width 100%
.register-price
  color $color_white
  font-size 28px
  padding 4px 8px
  text-align center
.register-submit-btn
  background $color_primary
  border-radius 8px
  box-shadow 0 4px 8px rgba($color_primary, 0.3)
  color $color_black
  font-size 24px
  font-weight bold
  margin 48px auto 0
  max-width 300px
  padding 6px 8px 7px
  text-align center
  transition .3s
  user-select none
  width 80%
  &.disabled
    background shade($color_primary, 40%)
    box-shadow 0 2px 4px rgba($color_primary, 0.1)
  @media screen and (max-width $mobile_width)
    margin-top 16px
