@import '../../../styles/colors'

.status-modal
  display table
  height 100%
  left 0
  position fixed
  top 0
  transition opacity .3s
  width 100%
  z-index 40

.status-modal-wrapper
  display table-cell
  vertical-align middle

.status-modal-container
  margin 0 auto
