@import '../../styles/colors'
@import '../../styles/variables'

.purchase
  height 100%
  overflow hidden
  padding 16px
  width 100%

.purchase-header
  color $color_white
  font-size 16px
  font-weight bold
  padding 16px

.purchase-container
  padding 16px

.current-order-wrapper
  position relative

.current-order
  background $color_gray_shade3
  border 4px solid $color_gray_tint3
  border-radius $common_radius
  color $color_gray_tint3
  max-width 450px
  min-height 150px
  position absolute
  top 0
  width 80%
  &.is-release
    transition .3s

.current-order-header
  align-items center
  background $color_gray_shade2
  border-radius $common_radius $common_radius 0 0
  color $color_gray_tint4
  display flex
  font-weight bold
  justify-content space-between
  padding 4px 16px
  .current-order-id
    font-size 28px
  .current-order-price
    font-size 28px

.current-order-body
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 4px 12px

$current-order-item-radius = 4px
.current-order-item
  border 2px solid $color_gray_tint2
  border-radius $current-order-item-radius
  color $color_white
  font-size 0
  margin 4px
.order-item-name
  background $color_gray_shade1
  border-radius $current-order-item-radius 0 0 $current-order-item-radius
  display inline-block
  font-size 18px
  padding 4px 8px
.order-item-qty
  border-radius 0 $current-order-item-radius $current-order-item-radius 0
  display inline-block
  font-size 18px
  padding 4px 8px


// next order
.purchase-order-queue
  display flex
  flex-wrap wrap
  margin-top 180px
  overflow scroll

.next-order-item
  background $color_gray_shade4
  border 2px solid $color_gray_shade3
  border-radius 8px
  color $color_gray_tint4
  margin 1%
  width 48%

.next-order-header
  align-items center
  background $color_gray_shade2
  display flex
  font-size 20px
  font-weight normal
  justify-content space-between
  padding 8px

.next-order-body
  align-items flex-start
  display flex
  flex-wrap wrap
  justify-content space-around
  min-height 100px
  padding 8px
  .order-item
    border 2px solid $color_gray_shade1
    border-radius 4px
    font-size 0
    margin 4px
  .order-item-name
  .order-item-qty
    font-size 18px
